<!DOCTYPE html>
<html>
<head>
    <title>Tornado WebSockets</title>
   <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>-->
    <script>
        var ws;
        function onLoad() {
            ws = new WebSocket("ws://127.0.0.1:8080/websocket");
            ws.onopen = function () {
              console.log("connected")
            };
            ws.onmessage = function(e) {
                //alert(e.data);
                var recv_data = e.data;
                console.log("raw message=" + recv_data);

                // var data_split = new Array();
                // data_split = recv_data.split(":");

                // var cmd = data_split[0]
                // var data = data_split[1]

                // if (cmd == "socket_open")
                // {
                //     ws.send("player_join:大中天|10|2,2,2|0,0,0|1,1,1")
                // }
                // else if (cmd == "player_join_done")
                // {
                //     console.log("player join complete")
                // }
            };
        }

        function sendMsg() {
            ws.send(document.getElementById('msg').value);
        }
    </script>
</head>
<body onload="onLoad();">
    <strong>Message to Send:</strong>&nbsp;<input type="text" id="msg" maxlength="25" />
    &nbsp;<input type="button" onclick="sendMsg();" value="Send" />
</body>
</html>
